@media screen and (max-width: 768px){

    .body_container{
      width: auto;
    }
    header{
      padding: 40px;
    }
    .navigation {
      display: block;
    }
    .logo{
      display: flex;
      justify-content: center;
      width: 688px;
    }
    .logo img{
      width: 150px;
    }
    nav{
      justify-content: space-between;
      gap: 0;
      margin-bottom: 40px;
      padding: 20px;
      width: 688px
    }
    .heberg{
      text-align: center;
      margin-left: -60px;
      width: 384px;
      padding-bottom: 20px
      border-bottom: 4px solid var(--gris);
    }
    .activ{
      text-align: center;
      margin-right: -60px;
      width: 384px;
      padding-bottom: 20px;
      border-bottom: 4px solid var(--gris);
    }

    .heberg:hover, .activ:hover{
      border-bottom: 4px solid var(--bleu);
    }
    nav a{
      display:block;
      font-size: 25px;
      width: 50%;
      margin-left: 120px;

    }
    nav a:hover{
      border-top: none;
    }
    .entete{
      margin: 0;
      margin-top: 90px;
      font-size: 30px;
    }
    .entete h1{
      width: 688px;
      font-size: 50px;
      flex-wrap: wrap;
      margin-bottom: 20px;

    }
    .entete p{
      text-align: left;
      margin-bottom: 50px;
      width: 688px;
    }
    .header_search{
      margin: 0;
      margin-bottom: 50px;
      width: auto;

    }
    .dot_icon{
      min-width: 120px;
      height: 120px;
      font-size: 2em;
      border-radius: 35px 0 0 35px;
    }
    form{
      width:auto;
    }
    .search_bar input{
      height: 120px;
      width: 460px;
      font-size: 36px;
    }
    #rechercher{
      display: none;
    }
    #loupe{
      background-color: var(--bleu);
      width: 120px;
      height: 120px;
      border-radius:  35px 35px 35px 35px;
      font-size: 2em;
      border: none;
      color: var(--white);
      margin-left: -20px;
    }
                                    /* FILTER */

  .filtres{
    margin: 0;
    gap:0;
    flex-wrap: wrap;
    width: 688px;
  }
  .filtres a{
    padding: 30px;
  }
  .filtres h2{
    font-size: 35px;
    font-weight: bold;
  }
  .filtre_wrapper{
    width: 684px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .filtre_eco{
    font-size: 30px;
    position: static;
    height: 90px;
    border-radius: 45px;
  }
  .icon{
    font-size: 33px;
    margin: 0;
    width: 90px;
    height: 90px;
    border-radius: 45px;
  }
  .point_infos{
    margin: 0;
    margin-top: 20px;
    display: flex;
    width: 688px;
    font-size: 20px;
  }


  #infos{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

                                    /*CARDS  */

  .main_container{
    width: 768px;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .card_container_right{
    margin: 0;
    width: auto;
    border-radius: 0;
  }
  .padding_container_right{
    padding: 0 40px;
  }
  .cards_title_right{
    margin: 30px 0 30px 0;
  }
  .cards_list_right{
    display: flex;
    width: auto;
    height: 800px;
    overflow: visible;
    flex-direction: column;
    align-items: center;
  }
  .card_r1{
    margin: 0;
    margin-bottom: 30px;
    width:100%;
    max-height:none;
    height: 230px;

  }
  .card_r1 img{
    max-width: none;
    max-height: none;
    height: 220px;
    
  }
  .figcaption_right{
    padding: 0 40px;
    height: 220px;
    font-size: 25px;
  }
  .card_r1 p{
    font-size: 20px;
  }
  .stars{
  font-size: 19px;
  }

                                   /*MIDDLE  */

  .card_container_left{
    width: auto;
    margin: 0;
    background-color: var(--white);
  }
  .padding_container_left{
    padding: 0 40px;
  }
  .cards_title_left{
    margin: 30px 0;
  }
  .card_list_l1{
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .card_l1{
    max-height: none;
    width: 100%;
    height: 350px;
  }
  .flex{
    width: 100%;
  }
  .card_l1 a{
    height: 300px;
  }
  .figcaption_left{
    font-size: 30px;
    height:
  }
  .card_l1 p {
    font-size: 20px;
    margin: 20px 0 20px 0;
  }

  .extra_bottom_left{
    text-align: center;
    font-size: 20px;
  }
  .extra_bottom_left p{
    font-size: 20px;
  }

                                              /* BOTTOM */

  .bottom_container{
    margin: 0;
    padding: 40px;
  }
  .Bottom_title h2{
    font-size: 30px;
  }

  .cards_list_bottom{
    width: 688px;
    gap: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .cards_list_bottom a{
    height: auto;
  }
  .cards_list_bottom img{
    max-height: none;
    width: 100%;
    height: 220px;
  }
  .cards_list_bottom p{
    margin: 26px;
    font-size: 22px;
  }

  .fort_iles, .notre_dame_longchamps{
    width: 100%;

  }
  .vieux_port, .fort_de_pomegues, .iles_du_frioul, .notre_dame, .longchamp{
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }


  .Footer_container{
    width: 768px;
    margin:0;
    flex-direction: column;
    align-items: start;
    padding: 0 0 47px 10px;
    font-size: 30px;
    gap: 100px;
  }

}
