@media screen and (max-width: 768px){

    .body_container{
      width: 100%;
    }

    .navigation {
      display: block;
      padding: 0;
      margin-bottom: 40px;
    }

    .logo{
      text-align: center;
      margin-bottom: 50px;
    }

    .logo img{
      width: 150px;
    }
    nav{
      justify-content: space-between;
      gap: 0;
      text-align: center;
    }


    .heberg{
      width: 50%;
      padding-bottom: 20px;
      border-bottom: 4px solid var(--gris);
    }
    .activ{
      width: 50%;
      padding-bottom: 20px;
      border-bottom: 4px solid var(--gris);
    }

    .heberg:hover, .activ:hover{
      border-bottom: 4px solid var(--bleu);
    }
    nav a{
      font-size: 20px;
      padding-top: 0;
    }

    nav a:hover{
      border-top: none;
    }

    .entete{
      margin-left: 0;
      padding: 0 40px;
      margin-bottom: 30px;


    }
    .entete h1{
      font-size: 30px;
      margin-bottom: 10px;
    }

    .entete p{
      font-size: 25px;
    }

    .header_search{
      margin-left: 0;
      padding: 0 40px 0 40px;
    }

    .dot_icon{
      border-radius: 15px 0 0 15px;
      max-height: 60px;
    }

    .fa-location-dot{
      font-size: 20px;
    }



    .input_and_btn_wrapper{
      width: 100%;
    }
    .search_bar{
      padding: 0 40px 0 40px;
      height: 60px;
      position: static;
    }

    .search_bar input{
      height: 100%;
      max-width: none;
      font-size: 14px;
      width: 100%;
    }
    #rechercher{
      display: none;
    }


    #loupe{
      position: relative;
      right: 10px;
      background-color: var(--bleu);
      width: 100%;
      height: 100%;
      border-radius:  15px 15px 15px 15px;
      font-size: 2em;
      border: none;
      color: var(--white);
      max-height: 60px;
      max-width: 60px;



    }
                                    /* FILTER */

  .filtres{
    margin: 0;
    gap:0;
    flex-wrap: wrap;
    padding: 0 40px 0 40px;
  }
  .filtres a{
    padding: 30px;
  }
  .filtres h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .filtre_wrapper{
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .filtre_eco{
    font-size: 20px;
    position: static;
    height: 50px;
    border-radius: 45px;
    margin-bottom: 20px;
  }
  .icon{
    font-size: 20px;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 45px;
  }
  .point_infos{
    margin-left: 0;
    display: flex;
    padding: 0 40px 0 40px;
  }


  #infos{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
  }

                                    /*CARDS  */

  .main_container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .card_container_right{
    margin: 0;
    width: auto;
    border-radius: 0;
  }
  .padding_container_right{
    padding: 0 40px;
  }
  .cards_title_right{
    margin: 30px 0 30px 0;
  }
  .cards_list_right{
    display: flex;
    width: auto;

    overflow: visible;
    flex-direction: column;
    align-items: center;
  }
  .card_r1{

    margin-bottom: 30px;
    max-width: 100%;
    width:100%;
    max-height:none;
    height: 100%;

  }
  .card_r1 img{
    max-width: none;
    max-height: none;
    height: 151px;
  }

  .figcaption_right{
    padding-left: 10px ;
    height: 151px;
    font-size: 16px;
  }
  .card_r1 p{
    font-size: 15px;
  }
  .card_r1 a{
    height: 100%;
  }
  
  .card a{
    height: 100%;
  }
  .stars{
  font-size: 19px;
  }

                                   /*MIDDLE  */

  .card_container_left{
    width: auto;
    margin: 0;
    background-color: var(--white);
  }
  .padding_container_left{
    padding: 0 40px;
  }
  .cards_title_left{
    margin: 30px 0;
  }
  .card_list_l1{
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .card_l1{
    max-height: none;
    width: 100%;
    height: 226px;
  }
  .card_l1 img{
    max-height: 60%;
  }


  .card_l1 p {
    font-size: 16px;

  }

  .flex{
    width: 100%;
  }

  .figcaption_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;

  }

  .extra_bottom_left{
    text-align: center;
    font-size: 20px;
  }
  .extra_bottom_left p{
    font-size: 20px;
  }

                                              /* BOTTOM */

  .bottom_container{
    margin: 0;
    padding: 40px;
  }
  .Bottom_title h2{
    font-size: 30px;
  }

  .cards_list_bottom{

    gap: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .cards_list_bottom a{
    height: auto;
  }
  .cards_list_bottom img{
    max-height: none;
    width: 100%;
    height: 220px;
  }
  .cards_list_bottom p{
    margin: 26px;
    font-size: 22px;
  }

  .fort_iles, .notre_dame_longchamps{
    width: 100%;

  }
  .vieux_port, .fort_de_pomegues, .iles_du_frioul, .notre_dame, .longchamp{
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }


  .Footer_container{
    width: auto;
    margin:0;
    flex-direction: column;
    align-items: start;
    padding: 0 0 47px 10px;
    font-size: 20px;
    gap: 100px;
  }

}
