:root{
  /* box-sizing: border-box; */
  font-family: raleway, verdana;
  /* margin: 0;
  padding: 0; */
  --bleu: #0065FC;
  --bleu-clair: #DEEBFF;
  --gris: #F2F2F2;
  --white: #FFFFFF;
  --gris-2: #d9d9d9;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body_container{max-width: 1440px; margin: auto;}  /*wrapper general*/

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  margin-bottom: 40px;
  margin-top: 42px;
}
.logo img{
  width: 90px;
  margin-left: 70px;
}
.card_list_l1 a, .card_list_l2 a{
  display: flex;
}

a {text-decoration: none;}

nav{
  display: flex;
  gap: 81px;

}
nav a{
  padding-top: 55px;
  font-size: 15px;
  color: var(--bleu);
  text-decoration: none;
}
nav a:hover{
  border-top: 2px solid;
}
.filtre_eco:visited{
  color: inherit;
}
.filtre_eco:hover{
  background-color: var(--bleu-clair);
}




/*  H1/P HEADER */
.entete{
  margin-bottom: 25px;
  padding-left: 50px;
}

.entete h1{
  letter-spacing: -0.9px;
  font-size: 23px;
  margin-bottom: 10px;
}

/*  BOUTON de RECHERCHE */

form{
  display: flex;
}
.search_bar{
 padding-left: 50px;
 margin-bottom: 30px;
}

.dot_icon{
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris);
  border-radius: 15px 0 0 15px;
}
.input_and_btn_wrapper{
    display: flex;
    width: 100%;
}


figure a{
  color: inherit;
}
.search_bar input{
  width: 20%;
  border: 2px  solid var(--gris);
  border-left: none;
  border-right: none;
}
#rechercher{
  max-width: 135px;
  width: 100%;
  height: 50px;
  border: none;
  border-left: none;
  background-color: var(--bleu);
  border-radius: 0 15px 15px 0;
  color: var(--white);
}
@media all and (min-width: 769px) {
  #loupe {
    display: none;
  }
}

::placeholder{
  font-weight: bold;
}
input:focus{
  outline: none;
}

                          /* FILTRE */


.filtres{
  display: flex;
  margin-bottom: 40px;
  padding-left: 50px;
  gap: 15px;
}
.filtre_wrapper{
  display: flex;
  font-weight: bold;

}

.filtres a{
  padding-right: 20px;
}
.filtre_eco{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border: solid 2px var(--gris);
  border-radius: 20px;
  margin-right: 40px;
  gap: 10px;
}

.filtres h2{
  font-size: 16px;
  align-self: center;
  font-weight: bold;
  margin-right: 10px;
}

/* ICONES ETOILES INFOS */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #deebff;

}


.circlegrey{
  color: var(--gris);
}
.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog, .fa-info{
  color: var(--bleu);
}
 .point_infos{
   display: flex;
   padding-left: 50px;
   font-size: 15px;
   margin-bottom: 40px;
 }
 #infos{
   margin-left: 10px;
   align-self: center;
 }
/* -------------------- */

 .main_container{
   padding: 0 50px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
 }

 .card_container_left{
   width: 66%;
   background-color: var(--gris);
   border-radius: 15px 15px 15px 15px;
 }

.padding_container_left{
  padding: 45px 40px 50px 40px;
  width: 100%;
}

.cards_title_left h2{
  font-size: 23px;
}

.card_list_l1{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}



.card_l1{
  font-size: 14px;
  width: 247px;
  max-height: 199px;
  box-shadow: 5px 5px 10px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
  padding:5px;
  margin-top: 22px;
}
.card_l1 a{
  display: block;
  height: 199px;
  width: auto;
}

/* .one.two.three */
span{
  font-weight: bold;
}
.card_l1 img{
  object-fit: cover;
  max-height: 60%;
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.figcaption_left{
  border-radius: 0 0 16px 16px;
  /* background-color: violet; */
  padding: 5px 10px 0 ;
}
.card_l1 p{
  margin-top: 5px;
  margin-bottom:5px;
}

.fig_text_L p{
  margin: 8px 0;
}

.fa-star{
  color: var(--bleu);
}
.fa-star.grey_star{
  color: var(--gris-2);
}

.extra_bottom_left p{
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
}
.extra_bottom_left p{
  font-size: 16px;
}
/* RIGHT: SIDE  */

.card_container_right{
  width: 31%;
  background-color: var(--gris);
  border-radius: 20px 20px 20px 20px;
}


.padding_container_right{

  justify-content: space-between;
  padding:46px 40px 34px 37px;
}
.cards_title_right{
  display: flex;
  justify-content: space-between;
}
.cards_title_right h2{
  padding-bottom: 23px;
}
.cards_title_right i{
  font-size: 23px;

}


 .card_r1{
   display: flex;
   font-size: 14px;
   max-width: 343px;
   max-height: 145px;
   box-shadow: 5px 5px 10px var(--gris-2);
   background-color: var(--white);
   border-radius: 20px;
   padding:5px;
   margin-bottom: 30px;

}
.card_r1 a{
  display: flex;
  height: 145px;
  width: 100%;
}
.card_r1 img{
  object-fit: cover;

  max-height: 135px;
  border-radius: 16px 0px 0px 16px;
  width:50%;
}
.figcaption_right{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  width: 50%;
  height: 100%;
}

.card_r1 p{
  font-size: 13px;

}
/* ACTIVITES A MARSEILLE */

.bottom_container{
  padding: 0 50px;
  margin
}
.Bottom_title {margin-bottom: 20px;}

.cards_list_bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vieux_port{
  width: 300px;
  height: 445px;
  box-shadow: 5px 5px 45px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
}
.vieux_port img{
  object-fit: cover;
  width:300px;
  height: 390px;
  border-radius: 20px 20px 0 0;
}
.t1, .t2, .t3, .t4 {
  margin-top: 15px;
  margin-left: 20px;
}

.fort_de_pomegues{
  width: 300px;
  height: 237px;
  box-shadow: 5px 5px 45px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
  margin-bottom: 43px;
}
 .fort_de_pomegues img{
   object-fit: cover;
   max-height: 181px;
   width: 100%;
   border-radius: 20px 20px 0 0;
 }

.iles_du_frioul{
  width: 300px;
  height: 166px;
  box-shadow: 5px 5px 45px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
}
.iles_du_frioul img{
  object-fit: cover;
  max-height: 110px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.notre_dame{
  width: 300px;
  height: 196px;
  box-shadow: 5px 5px 45px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
}
.longchamp{
  width: 300px;
  height: 206px;
  box-shadow: 5px 5px 45px var(--gris-2);
  background-color: var(--white);
  border-radius: 20px;
  margin-top: 40px;
}

.notre_dame img {
  object-fit: cover;
  width: 100%;
  max-height: 140px;
  border-radius: 20px 20px 0 0;
}
.longchamp img{
  object-fit: cover;
  width: 100%;
  max-height: 152px;
  border-radius: 20px 20px 0 0;
}

/* Footer */

Footer{
  background-color: var(--gris);
  width: 100%;
}
.Footer_container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 60px;
}
.propos , .nos_hebergements , .assistance {
  margin-top: 50px ;
  margin-left: 50px;
}
.propos p, .nos_hebergements p, .assistance p{
  margin-top: 20px;
}
