html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: "Raleway";
  margin: 2% 2%;
  
}

.bodysize{
  position: relative;

  margin: auto;
  background-color: white;
}

#logo{
  width: 120px;
  height: 70px;
  align-self: flex-start;
  margin-left: 10px;
}

.container{
  display: flex;
  justify-content: space-between;


}

.searchcontainer{
  margin-top: 0px

}

.box{
  width: 300px;
  display: flex;
  justify-content: flex-end;

}
.box a{

}
.box .current{
  border-top: solid 1px #0f6efc;
}

#navh, #nava{
  margin: 5px auto;
  align-self: center;
}

#navh:hover, #nava:hover{
  color: #0f6efc;
}

#navh:active, #nava:active {
 color: blue;
 border-top: blue;
}


h2{
  margin-bottom: 0px;

}



#form{
  display: flex;
  margin: 20px 0px 20px 0px;
  height: 40px;
  width:


}

.icon{
  width: 40px;
  background-color: #f2f2f2;
  border: solid 1px #f0f0f0;
  border-radius: 9px 0px 0px 9px;
  border-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#recherche{
  font-family: "Raleway";
  font-weight:700;
  border: 1px solid #f0f0f0;
  border-radius: 0px 12px 12px 0px;
  border-left: 0px;
  background: #0065FC;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

#input{
  border: 1px solid #f0f0f0;
  border-left: 0px;
  border-right: 0px;
  margin: 0px;
  padding: 5px 10px;
  width: 200px;
}

#input:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}


/* -----------------------------------FILTRE--------------------------------- */


.containerfiltre{
  display: flex;
  align-items: center;
  gap:3em;
  margin-top: 30px;
}
#filtre{

  margin: 0%;
}
.containereco{
  position: static;
  display: flex;
  align-items: center;
  position:
}



.fa-circle{
  color: #deebff;
}

.fa-stack{
  color: #0065fc;
  position: relative;
  left: -4px;
}


/* .fa-money-bill-wave {
  color: #0065fc;
  position: relative;
  left: -25px;
} */

.btneco, .btnfam, .btnrom, .btndog{
  font-weight: 600;
  padding: 0px 15px 0px 0px;
  border: solid 1.5px #e3e3e3;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}
.btneco:hover, .btnfam:hover, .btnrom:hover, .btndog:hover{
  background-color: #DEEBFF;

  color: white;
}

.infos{
  margin-top: 20px;
  margin-bottom: 20px;
}
.fa-circle.circlegrey {
  color: #dbdbdb;
}

/*  MAIN */
/* *{
  margin-top: 0px;
  box-sizing: border-box;
  font-family: "Raleway" ;
} */

.containerone{
  display: flex ;
  margin: auto;


}

.article{
  border-radius: 20px;
  background: #f2f2f2;
  height: 500px;
  width: 800px;
  margin-right: 30px;
}
.asidepadding {
  padding: 20px 40px;

}
.articlepadding{
  padding: 20px 40px;
}
.articletitle{
  display: flex;
  justify-content: space-between;

  font-size: 11px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;


}
.juni{
  display: flex;
  margin-top: -5px;
  margin-bottom: 20px;

}
#chart{
  margin-top: 5px;
  align-self: start;


}
.cardone{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.aside{
  border-radius: 20px;
  background: #f2f2f2;
  height: 500px;
  width: 400px;
  margin-left: 30px;
}
.figure {

  display: flex;
  flex-flow: column;
  padding: ;
  max-width: 220px;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
}

.img {

  background-color: #fff;
  max-width: 220px;
  max-height: 150px;
  padding: 3px;
  border-radius: 20px 20px 0px 0px;
}

p{
  margin-bottom:3px;
  margin-top: 3px;
}
.figcaption {
  background-color: #FFF;
  color: #0;
  font: italic smaller sans-serif;
  padding: 5px 10px;

  border-radius: 0px 0px 10px 10px;
}
.onestar{
  color: #0065fc;
  display: flex;
  margin-bottom: 5px;

}
.grey{
  color: #d9d9d9;

}
.two{
  margin-bottom: 10px;

}

.green {
  object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 10px 0px 0px 10px;

}

.soleil_dumatin {
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 2px;
    max-width: 300px;
    margin: auto;
}
.wrap {
    padding: 5px 10px;
}

 .afficherplus{
   padding-left: 10px;

 }
 .stargap{
   margin-top: 35px;
 }
 .starspace{
   margin-top: 20px;
 }
  .eau{
    margin-top: 26px;
  }
  .hotel{

  }
